* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #ff6a00, #ee0979);
    font-family: 'Arial', sans-serif;
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: #fff;
    padding: 5px;
    border: 2px solid #fff;
    display: inline-block;
}

header nav details {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #ff6a00;
    padding: 10px;
    border-radius: 5px;
}

header nav details summary {
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ee0979;
    text-decoration: underline;
}

main {
    padding: 40px 20px;
    text-align: center;
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}

main img {
    margin: 20px 0;
    border-radius: 10px;
}

p {
    font-size: 1.2rem;
    margin: 15px 0;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #333;
}

footer p {
    font-size: 1rem;
    color: #fff;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 1.1rem;
    margin: 10px 0;
}

header nav li:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

a {
    transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: #ee0979;
    transform: scale(1.1);
}
